#contato__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: var(--cor-fundo);
    position: relative;
}

.contato img {
    width: 2.5rem;
}

#contato__container > p {
    font-size: 1.5rem;
}

.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px var(--cinza-principal); /* Efeito de sombra esfumaçada */
    background-color: var(--cor-fundo);
    z-index: 100;
    padding: 0.5rem;
}

#contato__container h1 {
    box-shadow: 0 0 10px var(--cinza-principal); /* Efeito de sombra esfumaçada */
    background-color: var(--cor-fundo);
    padding-inline: 0.5rem;
    z-index: 100;
    text-transform: lowercase;
    font-size: 1.5rem;
}

.contato__whats p, 
.contato__insta p, 
.contato__face p {
    font-size: 1rem;
    text-transform: lowercase;
    margin-inline: 1rem;
}

.contato__whats, 
.contato__insta, 
.contato__face {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fale-face {transition-delay: 400ms;}
.fale-insta {transition-delay: 700ms;}
.fale-whats {transition-delay: 1000ms;}


.logo__cinza {
    width: 8rem;
}

