#endereco__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--cor-fundo);
}

.icone__mapa {
    width: 3rem;
    align-self: center;
    box-shadow: 0 0 10px var(--cinza-principal); /* Efeito de sombra esfumaçada */
    padding: .3rem;
    background-color: var(--cor-fundo);
}

#endereco__container iframe {
    box-shadow: 0 0 10px var(--cinza-principal); /* Efeito de sombra esfumaçada */
    width: 45rem;
    height: 15rem;
}

.endereco {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.endereco p {
    font-size: 1.4rem;
}

.endereco :nth-child(3) {
    font-size: 1rem;
}

@media (max-width: 600px) {
    #endereco__container iframe {
        width: 100%;
        box-shadow: none;
    }
}
